.description + .action {
  margin-top: 1em;
}

.intro {
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.baltitle {
  font-size: 1.55em;
  margin: 0 0 1rem;
  color: var(--acc-color);
  text-shadow: none;
}

.description {
  color: var(--sec-color-light);
}
