.invstart-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38vh;
  padding-right: 16vh;
  width: 90%;
  max-width: 900px;
  max-height: 100vh; /* Ensure it doesn't exceed the viewport height */
  overflow: hidden; /* Hide any overflow content */
  margin: 0 auto;
}

.invtitle {
  font-size: 3rem;
  margin-bottom: 2rem;
  animation: glow 2s ease-in-out infinite;
}

@media (max-width: 768px) {
  .invstart-screen {
    padding-top: 20vh;
    margin-top: 30%;
    padding-right: 0;
    width: 95%;
    align-items: center;
    justify-content: center;
  }
  
  .invtitle {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .invstart-button {
    width: 80%;
    max-width: 300px;
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .invstart-screen {
    padding-top: 15vh;
    width: 90%;
  }
  
  .invtitle {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .invstart-button {
    width: 90%;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

@keyframes glow {
  0%, 100% { text-shadow: 0 0 10px #0f0; }
  50% { text-shadow: 0 0 20px #0f0; }
}

.invstart-button {
  background: #000;
  border: 3px solid #0f0;
  color: #0f0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.invstart-button:hover {
  background: #0f0;
  color: #0f0;
  box-shadow: 0 0 20px #0f0;
}